.a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .b {
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
  }
  
  .c {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .d {
    width: 50%;
  }
  
  .e {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
  }
  
  .f,
  .h,
  .i {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .g {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
  }
  
  .j {
    width: 45%;
  }
  
  .k {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
  }
  
  .l,
  .n,
  .p {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .m {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
  }
  
  .o {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
  }
  
  .q {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
  }
  
  .r {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .s,
  .t {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .s:hover,
  .t:hover {
    background-color: #3e8e41;
  }
  